:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  background-color: var(--light);
}
h1 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 15vw;
  padding: 10px;
  margin: 2.5vw;
  border: 5px solid var(--coral);
  border-radius: 10%;
  text-align: center;
  background-color: var(--camel);
  font-size: 1.25rem;
}

img {
  width: 10vw;
  max-width: 250px;
}
@media screen and (pointer: coarse) {
  /*Had to put this on an apache server and look it up on my phone to test 😊*/
  #cat-ipsum {
    display: none;
  }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  .card {
    font-size: 1.5rem;
    /*background-color: green;*/
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .card {
    font-size: 1.75rem;
    /*background-color: red;*/
  }
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
  .card {
    background-color: var(--teal);
    border-color: var(--camel);
  }
}
